.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  gap: 100px;
  /* min-height: 100vh; */
}

.colorGeneratorWrapper{
display: flex;
flex-direction: column;
gap: 30px;
}
.colorInput{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.colorGenerate{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items:end;
  justify-content: space-between;
  width: 325px;
  padding: 1rem;
  margin: auto;
  background: #f1f1f1;
  border-radius: 5px;
}

.colorTest{
  display: flex;
  gap: 20px;
  padding: 10px;
}
.titles{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;

}

.titles button {
  width: 100%;
}

.demoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: #f1f1f1;
  border-radius: 1px solid black;
}

.colorCode{
  text-align: center;
  font-size: 16px;
}